$fs-h1: 72px;
$fs-h2: 48px;
$fs-h2-mob: 24px;
$fs-h3: 34px;

$fs-title: $fs-h1;
$fs-subtitle: $fs-h2;
$fs-subtitle-mob: $fs-h2-mob;
$fs-description: $fs-h3;



$fw-bold: 800;
$fw-normal: 400;

$fw-title: $fw-bold;
$fw-subtitle: $fw-normal;

$c-blue: #2299EF;
$c-grey: #4F4F4F;

$c-bg: $c-blue;
$c-text: $c-grey;