.header {
  width: 100vw;
  height: 100vh;
  background-image: url(./images/Bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.header-text {
  color: #FCF7F7;
  height: inherit;
  margin: 0 auto;
  width: 90%;
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 800;
  font-size: 72px;
  text-shadow: 4px 4px #73777A;
}