$fs-72: 72px;
$fs-48: 48px;
$fs-46: 46px;
$fs-38: 38px;
$fs-34: 34px;
$fs-24: 24px;
$fs-20: 20px;

$fs-title-m: $fs-72;
$fs-title-s: $fs-46;

$fs-subtitle-m: $fs-48;
$fs-subtitle-s: $fs-38;

$fs-description-m: $fs-34;
$fs-description-s: $fs-24;

$fs-link-m: $fs-48;
$fs-link-s: $fs-24;

$fs-card: $fs-20;

$fw-800: 800;
$fw-700: 700;
$fw-400: 400;

$fw-bold: $fw-800;
$fw-semi-bold: $fw-700;
$fw-light: $fw-400;

$c-blue: #2299EF;
$c-grey: #4F4F4F;

$c-bg: $c-blue;
$c-text: $c-grey;