$fs-h1: 72px;
$fs-h1-s: 46px;
$fs-h2: 48px;
$fs-h2-mob: 24px;
$fs-h2-s: 24px;
$fs-h3: 34px;
$fs-h3-s: 20px;


$fs-title-m: $fs-h1;
$fs-title-s: $fs-h1-s;
$fs-title: $fs-h1;
$fs-subtitle: $fs-h2;
$fs-subtitle-mob: $fs-h2-mob;
$fs-subtitle-s: $fs-h3-s;
$fs-description: $fs-h3;
$fs-name-m: $fs-h2;
$fs-name-s: $fs-h2-s;


$fw-bold: 800;
$fw-normal: 400;

$fw-title: $fw-bold;
$fw-subtitle: $fw-normal;

$c-blue: #2299EF;
$c-grey: #4F4F4F;

$c-bg: $c-blue;
$c-text: $c-grey;