.header {
  width: 100vw;
  height: 100vh;
  background-image: url(./images/Bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover; }

.header-text {
  color: #FCF7F7;
  height: inherit;
  margin: 0 auto;
  width: 90%;
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 800;
  font-size: 46px;
  text-shadow: 4px 4px #73777A; }
  @media (min-width: 768px) {
    .header-text {
      font-size: 72px; } }

.our-mission {
  display: flex;
  flex-wrap: wrap; }
  @media (min-width: 1224px) {
    .our-mission {
      flex-wrap: nowrap; } }
  .our-mission__image {
    width: 100%;
    height: 100%;
    background-image: url(./images/Background-image.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%; }
    .our-mission__image-wrapper {
      width: 100%;
      height: auto;
      order: 2; }
      @media (min-width: 1224px) {
        .our-mission__image-wrapper {
          order: 1;
          width: 60%; } }

.text-wrapper {
  color: #4F4F4F;
  order: 1;
  padding: 20px;
  height: auto;
  text-align: center;
  position: relative; }
  @media (min-width: 1224px) {
    .text-wrapper {
      padding: 150px 74px 240px;
      text-align: left;
      order: 2; } }
  .text-wrapper__logo {
    position: absolute;
    right: 5%;
    top: 5%;
    width: 228px;
    height: 60px; }
  .text-wrapper__title {
    margin-top: 150px;
    font-size: 46px;
    font-weight: 800; }
    @media (min-width: 768px) {
      .text-wrapper__title {
        font-size: 72px; } }
    @media (min-width: 1224px) {
      .text-wrapper__title {
        margin-top: 0; } }
  .text-wrapper__subtitle {
    margin-bottom: 20px;
    font-size: 38px;
    font-weight: 700; }
    @media (min-width: 768px) {
      .text-wrapper__subtitle {
        font-size: 48px; } }
  .text-wrapper__description {
    margin-bottom: 50px;
    font-size: 24px;
    font-weight: 400; }
    @media (min-width: 768px) {
      .text-wrapper__description {
        font-size: 34px; } }

.team-squares {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  padding: 20px;
  align-items: center;
  justify-content: center;
  position: relative; }
  @media (min-width: 1224px) {
    .team-squares {
      justify-content: space-between;
      padding: 170px 20px; } }

.text {
  color: #4F4F4F;
  width: 550px;
  text-align: center; }
  @media (min-width: 1224px) {
    .text {
      text-align: left; } }
  .text__title {
    margin-top: 150px;
    font-size: 46px;
    font-weight: 800; }
    @media (min-width: 768px) {
      .text__title {
        font-size: 72px; } }
    @media (min-width: 1224px) {
      .text__title {
        margin-top: 0; } }
  .text__description {
    font-size: 24px;
    font-weight: 400; }
    @media (min-width: 768px) {
      .text__description {
        font-size: 34px; } }

.teammates {
  color: #4F4F4F;
  width: 630px;
  display: flex;
  flex-wrap: wrap; }
  .teammates__card {
    width: 315px;
    height: 170px;
    display: flex;
    padding: 15px 0 15px 15px; }
  .teammates__photo {
    width: 90px;
    height: 90px; }
    @media (min-width: 768px) {
      .teammates__photo {
        width: 140px;
        height: 100%; } }
  .teammates__description {
    align-items: center;
    padding-top: 18px;
    padding-left: 20px;
    font-size: 20px;
    font-weight: 400; }
    @media (min-width: 768px) {
      .teammates__description {
        padding-top: 40px; } }

.cover-primary {
  display: flex;
  flex-wrap: wrap; }
  @media (min-width: 1224px) {
    .cover-primary {
      flex-wrap: nowrap; } }
  .cover-primary__image {
    display: none; }
    @media (min-width: 1224px) {
      .cover-primary__image {
        display: block;
        padding: 20px;
        width: 100%;
        height: 100%;
        background-image: url(./images/iPhone8.jpeg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 50% 50%; }
        .cover-primary__image-wrapper {
          padding: 20px;
          width: 100%;
          height: auto;
          background-color: #2299EF;
          order: 2; } }
    @media (min-width: 1224px) and (min-width: 1224px) {
      .cover-primary__image-wrapper {
        order: 1; } }

.links {
  display: flex;
  flex-wrap: wrap;
  column-gap: 5%; }
  .links__item {
    margin-top: 60px;
    display: flex;
    align-items: center; }
  .links__text {
    text-decoration: none;
    color: #000;
    margin-left: 30px;
    font-size: 24px; }
    @media (min-width: 768px) {
      .links__text {
        font-size: 48px; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif; }

/*# sourceMappingURL=index.css.map */
